*{
	border: none;
	padding: 0;
	margin: 0;
	background-color: #0005;
	box-sizing: border-box;
	/*color: white*/
	font-family: 'Nunito', sans-serif;
	/*transition-delay: 0;*/
}

#main{
	background-color: white;
	overflow-x: hidden;
}

#editorSide{
	/*background-color: Red;*/
  background: #272822; /*monokai*/
	position: relative;
}

/*#editorWrapper, #editorSide{*/
	/*width: 500px ;*/
/*}*/

#editorWrapper{
	/*background-color: #00f;*/
	background-color: #0000;

	/*padding-top: 10vh;*/
	padding-top: 0;

	/*overflow: scroll;*/
	overflow-y: scroll;
	resize: horizontal;
	transition-timing-function: cubic-bezier(0.0, 1.0, 1.0, 1.0);
  min-width: 10vw;
  max-width: 90vw;
	width: 0px;
}

#resizeBar{
	background-color: hsl(70, 8%, 25%);
	width: 1.1rem;
	right: 0;
	height: calc(100% - 1.1rem);
	/*height: 80%;*/
	cursor: e-resize;
	position: absolute;
}

#resizeBar:hover{
	background-color: hsl(70, 5%, 30%);
	box-shadow: #000a 0 10px 25px 0;
	transform: scaleX(1.05);
	transition-timing-function: ease;
}
/*#editorWrapper{
  min-width: 10vw;
  max-width: 90vw;

}*/


#outputSide{
	background-color: #0000;
	flex-grow: 100;
	overflow: hidden;
}

/*#outputSide{
	padding: 1rem;
}*/

.editor {
    /*border-radius: 6px;*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
    /*margin: 1rem;*/
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    height: 340px;
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    tab-size: 4;
    resize: none !important; /*idk but !important is needed*/
    /*width: 50vw;*/
    width: 100%;
    /*height: 90vh;*/
    height: 100%;
}


#outputWrapper{
	background-color: #eaeaea;
	border-radius: 2rem;
	margin: 1rem;
}


#menurow{
	position: relative;
	display: flex;
	place-items: center;
	flex-wrap: wrap;
	padding: 1rem;
	margin-left: 1.2rem;
	background-color: #0000;
}

#output{
	background-color: #0000;
}

.playButtons{
	width: 4rem;
	height: 4rem;
	border-radius: 1.2rem;
	background-color: #555;
	/*margin: 0.2rem;*/
	margin: 0.2rem;
	color: white;
  /*cursor: pointer;*/
	transition: 120ms;
}
.playButtons:hover{
	background-color: hsl(180, 14%, 50%);
	/*transition: 120ms;*/
	border: 0.15rem solid hsl(150, 100%,50%);
}

/* width */
::-webkit-scrollbar {
  width: 1.1rem;
  height: 1.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1;*/
  /*background: #0000;*/
  /*background: #fff;*/
  /*background: #272822;*/ /*monokai*/
  /*border-radius: 20px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*background: #888;*/
  /*background: hsl(180, 14%, 50%);*/
  background: hsla(180, 10%, 50%, 0.8);
  border-radius: 0.3rem;
  /*transition: 4000ms;*/

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #555;*/
  /*background: linear-gradient(20deg, magenta, cyan);*/
  background: hsla(180, 	80%, 	70%,	0.85);
}

#outputWrapper{
	overflow: hidden !important;
}

#snippetsPanel{
	border-radius: 1.5rem;
	overflow-y: scroll;
	padding: 1.5rem;
	display: none;	
	background-color: #222;
	color: white;

}

.snippet{
	padding: 1.2rem;
	font-size: 2rem;
  border-radius: 0.7rem;
  /*background-color: red;*/
  transition: 100ms;
	margin: 0.2rem;
}

.snippet:hover{
	/*padding: 1.5rem;*/
	/*font-size: 2rem;*/
  /*border-radius: 0.7rem;*/
  /*background-color: red;*/
  background: radial-gradient(#444, #333) ;
  transition: 100ms;
  transform: scale(0.98);
}

#borderWrapper{
	display: inline-block;
	width: 4rem;
	height: 4rem;
	/*left: 0;*/
	/*top: 0;*/
	border-radius: 1.2rem;
	background-color: #0000;
	border: none;
	/*background: linear-gradient(20deg, magenta, cyan);*/
	background: gray;

	position: relative;
	/*transform: scale(1.2);*/
	overflow: hidden;
	display: flex;
}

/*start button*/
#startWrapper{
	position: relative;
	padding: 0;
	margin: 0;
	height: 4rem;
	width: 4rem;
	display: inline-block;

	background-color: #0000;
}

#underStart{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;


	animation-name: resetongoinganim;
	animation-duration: 300ms;
	animation-iteration-count: 500;
  animation-timing-function: linear;

}

#borderWrapper{
	position: relative;
	transition: 200ms;
	transition-timing-function: ease-out;
	/*transform: scale(1.50);*/
}

/**/
@keyframes resetongoinganim{
	0%{
		background: linear-gradient(20deg, magenta, cyan);
		transform: rotate(0) scale(1.2);
	}
	100%{
		transform: rotate(360deg) scale(1.2);
		/*background-color: magenta*/
		background: linear-gradient(20deg, magenta, cyan);
	}
	/*100%{*/
		/*background: linear-gradient(20deg, magenta, cyan);*/
		/*transform: rotate(0deg);*/
	/*}*/
}


#start {
	position: absolute;
	left: 0;
	top: 0;


	margin: 0;

	/*transform: scale(1);*/
}