* {
	/*border: 4px solid black;*/
	padding: 1rem;
	margin: 1rem;
	box-sizing: border-box;
	transition: 400ms;

	/*background-color: #333;*/
	/*color: #fff;*/
}

#main {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	height: 100vh;
}

#editorSide, #outputSide {
	display: flex;
	flex-direction: column;
	flex: 1;
}


/*#editorWrapper, #editor, #outputWrapper{*/
	/*flex: 1;*/
	/*font-family: monospace;*/
/*}*/

#editorWrapper{ /*stretch to the end*/
	/*flex-grow: 1;*/
	/*height: 100;*/
	height: 100%;
}


#output{
	padding: 0;
	margin: 0;
	border: none;
	/*border-color: #333;*/
	/*flex: 1;*/
	position: relative;
	background-color: #4444;
	width: 50%;
	height: 50%;
	left: 50%;
	transform: scaleY(-1);
}

#outputWrapper{
	/*padding: 1rem;*/
	padding: 0;
	display: flex;
	flex: 1;

	/*Here a way to simulate coordinate scaling*/
	/*width: 20%;*/
	/*transform: scaleX(5);*/
	/*transform-origin: top left*/
}

html,
body {
	border: none;
	padding: 0;
	margin: 0
}

.Ball{
	/*background-color: hsl(306, 94%, 54%);*/
	/*background-color: #333;*/
	border-radius: 50%;
	/*height: 2rem;*/
	height: 40px;
	width: 40px;
	border: none;
	/*border: 6px solid #333;*/
	transform: translate(-50%, -50%) scaleY(-1);
	transition: none;
	margin: 0;
	/*transition: linear 100ms;*/
	padding: 0;
	margin: 0;
}

.resetongoing{
	animation-name: resetongoinganim;
	animation-duration: 300ms;
	animation-iteration-count: 500;
	animation-fill-mode: backwards;
	animation: resetongoinganim 500ms linear 0 50 alternate backwards;


}

@keyframes resetongoinganim{
	0%{
		background: linear-gradient(20deg, magenta, cyan);
		transform: rotate(-2deg);
	}
	50%{
		transform: rotate(2deg);
		/*background-color: magenta*/
		background: linear-gradient(20deg, magenta, cyan);
	}
	100%{
		/*background-color: cyan*/
		background: linear-gradient(20deg, magenta, cyan);
		transform: rotate(-2deg);
	}
}


#start{
	z-index: 999;
	position: relative;
}

#snippetsPanel{
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 20vw;
	top: 2vh;
	width: 60vw;
	height: 80vh;
	z-index: 1000;
	/*background-color: cyan;*/
}

